<a href="https://colab.research.google.com/github/sahil301290/Python-for-Data-Science/blob/main/06_4_Pandas_GroupBy_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##A groupby() operation allows us to examine data on a per category basis.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample.csv')
df

  Category  Data Value
0        A           3
1        A           4
2        B           7
3        B           4
4        C           2
5        C           6
6        C           7

Categorical columns are non-continuous

In [3]:
df.groupby(by = 'Category').sum()

          Data Value
Category
A                  7
B                 11
C                 15

In [4]:
df.groupby(by = 'Category').mean()

          Data Value
Category
A                3.5
B                5.5
C                5.0

In [5]:
df.groupby(by = 'Category').count()

          Data Value
Category
A                  2
B                  2
C                  3

In [6]:
df = pd.read_csv('mpg.csv')
df

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

In [7]:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])

In [8]:
df['cylinders'].unique()

array([8, 4, 6, 3, 5])

In [9]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

In [10]:
df.groupby('model_year')

In [11]:
df.groupby('model_year').mean()

                  mpg  cylinders  ...  acceleration    origin
model_year                        ...
70          17.689655   6.758621  ...     12.948276  1.310345
71          21.250000   5.571429  ...     15.142857  1.428571
72          18.714286   5.821429  ...     15.125000  1.535714
73          17.100000   6.375000  ...     14.312500  1.375000
74          22.703704   5.259259  ...     16.203704  1.666667
75          20.266667   5.600000  ...     16.050000  1.466667
76          21.573529   5.647059  ...     15.941176  1.470588
77          23.375000   5.464286  ...     15.435714  1.571429
78          24.061111   5.361111  ...     15.805556  1.611111
79          25.093103   5.827586  ...     15.813793  1.275862
80          33.696552   4.137931  ...     16.934483  2.206897
81          30.334483   4.620690  ...     16.306897  1.965517
82          31.709677   4.193548  ...     16.638710  1.645161

[13 rows x 6 columns]

In [12]:
df.groupby('model_year').mean()#['mpg']

                  mpg  cylinders  ...  acceleration    origin
model_year                        ...
70          17.689655   6.758621  ...     12.948276  1.310345
71          21.250000   5.571429  ...     15.142857  1.428571
72          18.714286   5.821429  ...     15.125000  1.535714
73          17.100000   6.375000  ...     14.312500  1.375000
74          22.703704   5.259259  ...     16.203704  1.666667
75          20.266667   5.600000  ...     16.050000  1.466667
76          21.573529   5.647059  ...     15.941176  1.470588
77          23.375000   5.464286  ...     15.435714  1.571429
78          24.061111   5.361111  ...     15.805556  1.611111
79          25.093103   5.827586  ...     15.813793  1.275862
80          33.696552   4.137931  ...     16.934483  2.206897
81          30.334483   4.620690  ...     16.306897  1.965517
82          31.709677   4.193548  ...     16.638710  1.645161

[13 rows x 6 columns]

In [13]:
df.groupby(['model_year', 'cylinders']).mean()

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
70         4          25.285714    107.000000  ...     16.000000  2.285714
           6          20.500000    199.000000  ...     15.500000  1.000000
           8          14.111111    367.555556  ...     11.194444  1.000000
71         4          27.461538    101.846154  ...     16.961538  1.923077
           6          18.000000    243.375000  ...     14.750000  1.000000
           8          13.428571    371.714286  ...     12.214286  1.000000
72         3          19.000000     70.000000  ...     13.500000  3.000000
           4          23.428571    111.535714  ...     17.214286  1.928571
           8          13.615385    344.846154  ...     13.000000  1.000000
73         3          18.000000     70.000000  ...     13.500000  3.000000
           4          22.727273    109.272727  ...     17.136364  2.000000
           6          19.000000    212.250000  ...     15.687500  1.250000
           8          13.200000    365.250000  ...     12.250000  1.000000
74         4          27.800000     96.533333  ...     16.400000  2.200000
           6          17.857143    230.428571  ...     16.857143  1.000000
           8          14.200000    315.200000  ...     14.700000  1.000000
75         4          25.250000    114.833333  ...     15.833333  2.166667
           6          17.583333    233.750000  ...     17.708333  1.000000
           8          15.666667    330.500000  ...     13.166667  1.000000
76         4          26.766667    106.333333  ...     16.866667  1.866667
           6          20.000000    221.400000  ...     17.000000  1.300000
           8          14.666667    324.000000  ...     13.222222  1.000000
77         3          21.500000     80.000000  ...     13.500000  3.000000
           4          29.107143    106.500000  ...     16.064286  1.857143
           6          19.500000    220.400000  ...     16.900000  1.400000
           8          16.000000    335.750000  ...     13.662500  1.000000
78         4          29.576471    112.117647  ...     16.282353  2.117647
           5          20.300000    131.000000  ...     15.900000  2.000000
           6          19.066667    213.250000  ...     16.391667  1.166667
           8          19.050000    300.833333  ...     13.266667  1.000000
79         4          31.525000    113.583333  ...     15.991667  1.583333
           5          25.400000    183.000000  ...     20.100000  2.000000
           6          22.950000    205.666667  ...     15.433333  1.000000
           8          18.630000    321.400000  ...     15.400000  1.000000
80         3          23.700000     70.000000  ...     12.500000  3.000000
           4          34.612000    111.000000  ...     17.144000  2.200000
           5          36.400000    121.000000  ...     19.900000  2.000000
           6          25.900000    196.500000  ...     15.050000  2.000000
81         4          32.814286    108.857143  ...     16.466667  2.095238
           6          23.428571    184.000000  ...     15.442857  1.714286
           8          26.600000    350.000000  ...     19.000000  1.000000
82         4          32.071429    118.571429  ...     16.703571  1.714286
           6          28.333333    225.000000  ...     16.033333  1.000000

[43 rows x 5 columns]

In [14]:
df.groupby(['model_year', 'cylinders']).mean().columns

Index(['mpg', 'displacement', 'weight', 'acceleration', 'origin'], dtype='object')

In [15]:
df.groupby(['model_year', 'cylinders']).mean().index    #multi-level index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [16]:
df.groupby(['model_year', 'cylinders']).mean()['mpg']

model_year  cylinders
70          4            25.285714
            6            20.500000
            8            14.111111
71          4            27.461538
            6            18.000000
            8            13.428571
72          3            19.000000
            4            23.428571
            8            13.615385
73          3            18.000000
            4            22.727273
            6            19.000000
            8            13.200000
74          4            27.800000
            6            17.857143
            8            14.200000
75          4            25.250000
            6            17.583333
            8            15.666667
76          4            26.766667
            6            20.000000
            8            14.666667
77          3            21.500000
            4            29.107143
            6            19.500000
            8            16.000000
78          4            29.576471
            5            20.300000
            6            19.066667
            8            19.050000
79          4            31.525000
            5            25.400000
            6            22.950000
            8            18.630000
80          3            23.700000
            4            34.612000
            5            36.400000
            6            25.900000
81          4            32.814286
            6            23.428571
            8            26.600000
82          4            32.071429
            6            28.333333
Name: mpg, dtype: float64

In [17]:
df.groupby('model_year').describe().transpose()

model_year                   70           71  ...           81           82
mpg          count    29.000000    28.000000  ...    29.000000    31.000000
             mean     17.689655    21.250000  ...    30.334483    31.709677
             std       5.339231     6.591942  ...     5.591465     5.392548
             min       9.000000    12.000000  ...    17.600000    22.000000
             25%      14.000000    15.500000  ...    26.600000    27.000000
             50%      16.000000    19.000000  ...    31.600000    32.000000
             75%      22.000000    27.000000  ...    34.400000    36.000000
             max      27.000000    35.000000  ...    39.100000    44.000000
cylinders    count    29.000000    28.000000  ...    29.000000    31.000000
             mean      6.758621     5.571429  ...     4.620690     4.193548
             std       1.724926     1.665079  ...     1.082781     0.601074
             min       4.000000     4.000000  ...     4.000000     4.000000
             25%       6.000000     4.000000  ...     4.000000     4.000000
             50%       8.000000     6.000000  ...     4.000000     4.000000
             75%       8.000000     6.500000  ...     6.000000     4.000000
             max       8.000000     8.000000  ...     8.000000     6.000000
displacement count    29.000000    28.000000  ...    29.000000    31.000000
             mean    281.413793   209.750000  ...   135.310345   128.870968
             std     124.421380   115.102410  ...    58.387929    39.352037
             min      97.000000    71.000000  ...    79.000000    91.000000
             25%     198.000000    97.750000  ...    98.000000   105.000000
             50%     307.000000   228.500000  ...   119.000000   119.000000
             75%     383.000000   273.000000  ...   151.000000   142.000000
             max     455.000000   400.000000  ...   350.000000   262.000000
weight       count    29.000000    28.000000  ...    29.000000    31.000000
             mean   3372.793103  2995.428571  ...  2522.931034  2453.548387
             std     852.868663  1061.830859  ...   533.600501   354.276713
             min    1835.000000  1613.000000  ...  1755.000000  1965.000000
             25%    2648.000000  2110.750000  ...  2065.000000  2127.500000
             50%    3449.000000  2798.000000  ...  2385.000000  2525.000000
             75%    4312.000000  3603.250000  ...  2900.000000  2727.500000
             max    4732.000000  5140.000000  ...  3725.000000  3035.000000
acceleration count    29.000000    28.000000  ...    29.000000    31.000000
             mean     12.948276    15.142857  ...    16.306897    16.638710
             std       3.330982     2.666171  ...     2.192509     2.484844
             min       8.000000    11.500000  ...    12.600000    11.600000
             25%      10.000000    13.375000  ...    14.800000    14.850000
             50%      12.500000    14.500000  ...    16.200000    16.400000
             75%      15.000000    16.125000  ...    17.300000    18.000000
             max      20.500000    20.500000  ...    20.700000    24.600000
origin       count    29.000000    28.000000  ...    29.000000    31.000000
             mean      1.310345     1.428571  ...     1.965517     1.645161
             std       0.603765     0.741798  ...     0.944259     0.914636
             min       1.000000     1.000000  ...     1.000000     1.000000
             25%       1.000000     1.000000  ...     1.000000     1.000000
             50%       1.000000     1.000000  ...     2.000000     1.000000
             75%       1.000000     2.000000  ...     3.000000     3.000000
             max       3.000000     3.000000  ...     3.000000     3.000000

[48 rows x 13 columns]

In [18]:
years_cyl = df.groupby(['model_year', 'cylinders']).mean()
years_cyl

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
70         4          25.285714    107.000000  ...     16.000000  2.285714
           6          20.500000    199.000000  ...     15.500000  1.000000
           8          14.111111    367.555556  ...     11.194444  1.000000
71         4          27.461538    101.846154  ...     16.961538  1.923077
           6          18.000000    243.375000  ...     14.750000  1.000000
           8          13.428571    371.714286  ...     12.214286  1.000000
72         3          19.000000     70.000000  ...     13.500000  3.000000
           4          23.428571    111.535714  ...     17.214286  1.928571
           8          13.615385    344.846154  ...     13.000000  1.000000
73         3          18.000000     70.000000  ...     13.500000  3.000000
           4          22.727273    109.272727  ...     17.136364  2.000000
           6          19.000000    212.250000  ...     15.687500  1.250000
           8          13.200000    365.250000  ...     12.250000  1.000000
74         4          27.800000     96.533333  ...     16.400000  2.200000
           6          17.857143    230.428571  ...     16.857143  1.000000
           8          14.200000    315.200000  ...     14.700000  1.000000
75         4          25.250000    114.833333  ...     15.833333  2.166667
           6          17.583333    233.750000  ...     17.708333  1.000000
           8          15.666667    330.500000  ...     13.166667  1.000000
76         4          26.766667    106.333333  ...     16.866667  1.866667
           6          20.000000    221.400000  ...     17.000000  1.300000
           8          14.666667    324.000000  ...     13.222222  1.000000
77         3          21.500000     80.000000  ...     13.500000  3.000000
           4          29.107143    106.500000  ...     16.064286  1.857143
           6          19.500000    220.400000  ...     16.900000  1.400000
           8          16.000000    335.750000  ...     13.662500  1.000000
78         4          29.576471    112.117647  ...     16.282353  2.117647
           5          20.300000    131.000000  ...     15.900000  2.000000
           6          19.066667    213.250000  ...     16.391667  1.166667
           8          19.050000    300.833333  ...     13.266667  1.000000
79         4          31.525000    113.583333  ...     15.991667  1.583333
           5          25.400000    183.000000  ...     20.100000  2.000000
           6          22.950000    205.666667  ...     15.433333  1.000000
           8          18.630000    321.400000  ...     15.400000  1.000000
80         3          23.700000     70.000000  ...     12.500000  3.000000
           4          34.612000    111.000000  ...     17.144000  2.200000
           5          36.400000    121.000000  ...     19.900000  2.000000
           6          25.900000    196.500000  ...     15.050000  2.000000
81         4          32.814286    108.857143  ...     16.466667  2.095238
           6          23.428571    184.000000  ...     15.442857  1.714286
           8          26.600000    350.000000  ...     19.000000  1.000000
82         4          32.071429    118.571429  ...     16.703571  1.714286
           6          28.333333    225.000000  ...     16.033333  1.000000

[43 rows x 5 columns]

In [19]:
years_cyl.index.names

FrozenList(['model_year', 'cylinders'])

In [20]:
years_cyl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [21]:
years_cyl.loc[70]

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [22]:
years_cyl.loc[[70, 80]]

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
70         4          25.285714    107.000000  ...     16.000000  2.285714
           6          20.500000    199.000000  ...     15.500000  1.000000
           8          14.111111    367.555556  ...     11.194444  1.000000
80         3          23.700000     70.000000  ...     12.500000  3.000000
           4          34.612000    111.000000  ...     17.144000  2.200000
           5          36.400000    121.000000  ...     19.900000  2.000000
           6          25.900000    196.500000  ...     15.050000  2.000000

[7 rows x 5 columns]

In [23]:
years_cyl.loc[(70,8)]

mpg               14.111111
displacement     367.555556
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64

###Cross-Section .xs

In [24]:
years_cyl.xs(key = 70, level = 'model_year')    #single key only

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [25]:
years_cyl.loc[[70,80]]

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
70         4          25.285714    107.000000  ...     16.000000  2.285714
           6          20.500000    199.000000  ...     15.500000  1.000000
           8          14.111111    367.555556  ...     11.194444  1.000000
80         3          23.700000     70.000000  ...     12.500000  3.000000
           4          34.612000    111.000000  ...     17.144000  2.200000
           5          36.400000    121.000000  ...     19.900000  2.000000
           6          25.900000    196.500000  ...     15.050000  2.000000

[7 rows x 5 columns]

In [28]:
#Select only 4 cylinder cars for each year
four_cyl = years_cyl.xs(key = 4, level = 'cylinders')
four_cyl

                  mpg  displacement       weight  acceleration    origin
model_year
70          25.285714    107.000000  2292.571429     16.000000  2.285714
71          27.461538    101.846154  2056.384615     16.961538  1.923077
72          23.428571    111.535714  2382.642857     17.214286  1.928571
73          22.727273    109.272727  2338.090909     17.136364  2.000000
74          27.800000     96.533333  2151.466667     16.400000  2.200000
75          25.250000    114.833333  2489.250000     15.833333  2.166667
76          26.766667    106.333333  2306.600000     16.866667  1.866667
77          29.107143    106.500000  2205.071429     16.064286  1.857143
78          29.576471    112.117647  2296.764706     16.282353  2.117647
79          31.525000    113.583333  2357.583333     15.991667  1.583333
80          34.612000    111.000000  2360.080000     17.144000  2.200000
81          32.814286    108.857143  2275.476190     16.466667  2.095238
82          32.071429    118.571429  2402.321429     16.703571  1.714286

In [29]:
#Only 6 and 8 cylinders
#Filter out the dataframe first, then call the groupby
df[df['cylinders'].isin([6,8])].groupby(['model_year', 'cylinders']).mean()

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
70         6          20.500000    199.000000  ...     15.500000  1.000000
           8          14.111111    367.555556  ...     11.194444  1.000000
71         6          18.000000    243.375000  ...     14.750000  1.000000
           8          13.428571    371.714286  ...     12.214286  1.000000
72         8          13.615385    344.846154  ...     13.000000  1.000000
73         6          19.000000    212.250000  ...     15.687500  1.250000
           8          13.200000    365.250000  ...     12.250000  1.000000
74         6          17.857143    230.428571  ...     16.857143  1.000000
           8          14.200000    315.200000  ...     14.700000  1.000000
75         6          17.583333    233.750000  ...     17.708333  1.000000
           8          15.666667    330.500000  ...     13.166667  1.000000
76         6          20.000000    221.400000  ...     17.000000  1.300000
           8          14.666667    324.000000  ...     13.222222  1.000000
77         6          19.500000    220.400000  ...     16.900000  1.400000
           8          16.000000    335.750000  ...     13.662500  1.000000
78         6          19.066667    213.250000  ...     16.391667  1.166667
           8          19.050000    300.833333  ...     13.266667  1.000000
79         6          22.950000    205.666667  ...     15.433333  1.000000
           8          18.630000    321.400000  ...     15.400000  1.000000
80         6          25.900000    196.500000  ...     15.050000  2.000000
81         6          23.428571    184.000000  ...     15.442857  1.714286
           8          26.600000    350.000000  ...     19.000000  1.000000
82         6          28.333333    225.000000  ...     16.033333  1.000000

[23 rows x 5 columns]

In [30]:
#To swap the levels of model_year and cylinders
years_cyl.swaplevel()

                            mpg  displacement  ...  acceleration    origin
cylinders model_year                           ...
4         70          25.285714    107.000000  ...     16.000000  2.285714
6         70          20.500000    199.000000  ...     15.500000  1.000000
8         70          14.111111    367.555556  ...     11.194444  1.000000
4         71          27.461538    101.846154  ...     16.961538  1.923077
6         71          18.000000    243.375000  ...     14.750000  1.000000
8         71          13.428571    371.714286  ...     12.214286  1.000000
3         72          19.000000     70.000000  ...     13.500000  3.000000
4         72          23.428571    111.535714  ...     17.214286  1.928571
8         72          13.615385    344.846154  ...     13.000000  1.000000
3         73          18.000000     70.000000  ...     13.500000  3.000000
4         73          22.727273    109.272727  ...     17.136364  2.000000
6         73          19.000000    212.250000  ...     15.687500  1.250000
8         73          13.200000    365.250000  ...     12.250000  1.000000
4         74          27.800000     96.533333  ...     16.400000  2.200000
6         74          17.857143    230.428571  ...     16.857143  1.000000
8         74          14.200000    315.200000  ...     14.700000  1.000000
4         75          25.250000    114.833333  ...     15.833333  2.166667
6         75          17.583333    233.750000  ...     17.708333  1.000000
8         75          15.666667    330.500000  ...     13.166667  1.000000
4         76          26.766667    106.333333  ...     16.866667  1.866667
6         76          20.000000    221.400000  ...     17.000000  1.300000
8         76          14.666667    324.000000  ...     13.222222  1.000000
3         77          21.500000     80.000000  ...     13.500000  3.000000
4         77          29.107143    106.500000  ...     16.064286  1.857143
6         77          19.500000    220.400000  ...     16.900000  1.400000
8         77          16.000000    335.750000  ...     13.662500  1.000000
4         78          29.576471    112.117647  ...     16.282353  2.117647
5         78          20.300000    131.000000  ...     15.900000  2.000000
6         78          19.066667    213.250000  ...     16.391667  1.166667
8         78          19.050000    300.833333  ...     13.266667  1.000000
4         79          31.525000    113.583333  ...     15.991667  1.583333
5         79          25.400000    183.000000  ...     20.100000  2.000000
6         79          22.950000    205.666667  ...     15.433333  1.000000
8         79          18.630000    321.400000  ...     15.400000  1.000000
3         80          23.700000     70.000000  ...     12.500000  3.000000
4         80          34.612000    111.000000  ...     17.144000  2.200000
5         80          36.400000    121.000000  ...     19.900000  2.000000
6         80          25.900000    196.500000  ...     15.050000  2.000000
4         81          32.814286    108.857143  ...     16.466667  2.095238
6         81          23.428571    184.000000  ...     15.442857  1.714286
8         81          26.600000    350.000000  ...     19.000000  1.000000
4         82          32.071429    118.571429  ...     16.703571  1.714286
6         82          28.333333    225.000000  ...     16.033333  1.000000

[43 rows x 5 columns]

In [31]:
years_cyl.sort_index(level = 'model_year', ascending = False)

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
82         6          28.333333    225.000000  ...     16.033333  1.000000
           4          32.071429    118.571429  ...     16.703571  1.714286
81         8          26.600000    350.000000  ...     19.000000  1.000000
           6          23.428571    184.000000  ...     15.442857  1.714286
           4          32.814286    108.857143  ...     16.466667  2.095238
80         6          25.900000    196.500000  ...     15.050000  2.000000
           5          36.400000    121.000000  ...     19.900000  2.000000
           4          34.612000    111.000000  ...     17.144000  2.200000
           3          23.700000     70.000000  ...     12.500000  3.000000
79         8          18.630000    321.400000  ...     15.400000  1.000000
           6          22.950000    205.666667  ...     15.433333  1.000000
           5          25.400000    183.000000  ...     20.100000  2.000000
           4          31.525000    113.583333  ...     15.991667  1.583333
78         8          19.050000    300.833333  ...     13.266667  1.000000
           6          19.066667    213.250000  ...     16.391667  1.166667
           5          20.300000    131.000000  ...     15.900000  2.000000
           4          29.576471    112.117647  ...     16.282353  2.117647
77         8          16.000000    335.750000  ...     13.662500  1.000000
           6          19.500000    220.400000  ...     16.900000  1.400000
           4          29.107143    106.500000  ...     16.064286  1.857143
           3          21.500000     80.000000  ...     13.500000  3.000000
76         8          14.666667    324.000000  ...     13.222222  1.000000
           6          20.000000    221.400000  ...     17.000000  1.300000
           4          26.766667    106.333333  ...     16.866667  1.866667
75         8          15.666667    330.500000  ...     13.166667  1.000000
           6          17.583333    233.750000  ...     17.708333  1.000000
           4          25.250000    114.833333  ...     15.833333  2.166667
74         8          14.200000    315.200000  ...     14.700000  1.000000
           6          17.857143    230.428571  ...     16.857143  1.000000
           4          27.800000     96.533333  ...     16.400000  2.200000
73         8          13.200000    365.250000  ...     12.250000  1.000000
           6          19.000000    212.250000  ...     15.687500  1.250000
           4          22.727273    109.272727  ...     17.136364  2.000000
           3          18.000000     70.000000  ...     13.500000  3.000000
72         8          13.615385    344.846154  ...     13.000000  1.000000
           4          23.428571    111.535714  ...     17.214286  1.928571
           3          19.000000     70.000000  ...     13.500000  3.000000
71         8          13.428571    371.714286  ...     12.214286  1.000000
           6          18.000000    243.375000  ...     14.750000  1.000000
           4          27.461538    101.846154  ...     16.961538  1.923077
70         8          14.111111    367.555556  ...     11.194444  1.000000
           6          20.500000    199.000000  ...     15.500000  1.000000
           4          25.285714    107.000000  ...     16.000000  2.285714

[43 rows x 5 columns]

In [32]:
years_cyl.sort_index(level = 'cylinders', ascending = False)

                            mpg  displacement  ...  acceleration    origin
model_year cylinders                           ...
81         8          26.600000    350.000000  ...     19.000000  1.000000
79         8          18.630000    321.400000  ...     15.400000  1.000000
78         8          19.050000    300.833333  ...     13.266667  1.000000
77         8          16.000000    335.750000  ...     13.662500  1.000000
76         8          14.666667    324.000000  ...     13.222222  1.000000
75         8          15.666667    330.500000  ...     13.166667  1.000000
74         8          14.200000    315.200000  ...     14.700000  1.000000
73         8          13.200000    365.250000  ...     12.250000  1.000000
72         8          13.615385    344.846154  ...     13.000000  1.000000
71         8          13.428571    371.714286  ...     12.214286  1.000000
70         8          14.111111    367.555556  ...     11.194444  1.000000
82         6          28.333333    225.000000  ...     16.033333  1.000000
81         6          23.428571    184.000000  ...     15.442857  1.714286
80         6          25.900000    196.500000  ...     15.050000  2.000000
79         6          22.950000    205.666667  ...     15.433333  1.000000
78         6          19.066667    213.250000  ...     16.391667  1.166667
77         6          19.500000    220.400000  ...     16.900000  1.400000
76         6          20.000000    221.400000  ...     17.000000  1.300000
75         6          17.583333    233.750000  ...     17.708333  1.000000
74         6          17.857143    230.428571  ...     16.857143  1.000000
73         6          19.000000    212.250000  ...     15.687500  1.250000
71         6          18.000000    243.375000  ...     14.750000  1.000000
70         6          20.500000    199.000000  ...     15.500000  1.000000
80         5          36.400000    121.000000  ...     19.900000  2.000000
79         5          25.400000    183.000000  ...     20.100000  2.000000
78         5          20.300000    131.000000  ...     15.900000  2.000000
82         4          32.071429    118.571429  ...     16.703571  1.714286
81         4          32.814286    108.857143  ...     16.466667  2.095238
80         4          34.612000    111.000000  ...     17.144000  2.200000
79         4          31.525000    113.583333  ...     15.991667  1.583333
78         4          29.576471    112.117647  ...     16.282353  2.117647
77         4          29.107143    106.500000  ...     16.064286  1.857143
76         4          26.766667    106.333333  ...     16.866667  1.866667
75         4          25.250000    114.833333  ...     15.833333  2.166667
74         4          27.800000     96.533333  ...     16.400000  2.200000
73         4          22.727273    109.272727  ...     17.136364  2.000000
72         4          23.428571    111.535714  ...     17.214286  1.928571
71         4          27.461538    101.846154  ...     16.961538  1.923077
70         4          25.285714    107.000000  ...     16.000000  2.285714
80         3          23.700000     70.000000  ...     12.500000  3.000000
77         3          21.500000     80.000000  ...     13.500000  3.000000
73         3          18.000000     70.000000  ...     13.500000  3.000000
72         3          19.000000     70.000000  ...     13.500000  3.000000

[43 rows x 5 columns]

In [34]:
df.agg(['std', 'mean'])

            mpg  cylinders  displacement  ...  acceleration  model_year    origin
std    7.815984   1.701004    104.269838  ...      2.757689    3.697627  0.802055
mean  23.514573   5.454774    193.425879  ...     15.568090   76.010050  1.572864

[2 rows x 7 columns]

In [35]:
df.agg(['std', 'mean'])['mpg']

std      7.815984
mean    23.514573
Name: mpg, dtype: float64

In [36]:
df.agg({'mpg': ['max', 'mean'], 'weight': ['mean', 'std']})

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
std         NaN   846.841774

End of Code